.mobile-navigation {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.mobile-navigation__container {
  background-color: #fff;
  height: 100%;
  width: 520px;
  margin-left: auto;
  padding: 159px 90px 90px 90px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mobile-navigation__close {
  width: 22px;
  height: 22px;
  background: url('../../../images/close.svg') no-repeat center/cover;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 22px;
  top: 22px;
  transition: opacity ease 0.4s;
}

.mobile-navigation__close:hover {
  opacity: 0.6;
}

.mobile-navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mobile-navigation__item {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mobile-navigation__item + .mobile-navigation__item {
  margin-top: 28px;
}

.mobile-navigation__item-link {
  text-decoration: none;
  color: #000;
  transition: opacity ease 0.4s;
}

.mobile-navigation__item-link:hover {
  opacity: 0.6;
}

.mobile-navigation__item-link--active {
  padding-bottom: 4px;
  border-bottom: 2px solid #000;
}

.mobile-navigation__account-link {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

@media screen and (max-width: 767px) {
  .mobile-navigation__container {
    width: 320px;
    padding: 144px 10px 46px 10px;
    margin: 0;
  }

  .mobile-navigation__close {
    right: 14px;
    top: 14px;
  }

  .mobile-navigation__item + .mobile-navigation__item {
    margin-top: 24px;
  }
  
  .mobile-navigation__item-link--active {
    padding-bottom: 7px;
  }
}
