.login {
  box-sizing: border-box;
  padding: 70px 0;
  margin: auto;
  max-width: 396px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.login__title {
  margin: 40px 0 0 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login__form {
  margin-top: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.login__input + .login__input {
  margin-top: 24px;
}

.login__submit {
  width: 100%;
  height: 45px;
  margin-top: auto;
  background-color: #000;
  border-radius: 3px;
  flex-shrink: 0;
  transition: opacity ease 0.4s;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login__submit:hover {
  opacity: 0.6;
}

.login__info {
  margin: 16px 0 0 0;
  color: #a0a0a0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login__link {
  margin-left: 6px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: opacity ease 0.4s;
}

.login__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .login {
    padding: 232px 0;
  }
}

@media screen and (max-width: 767px) {
  .login {
    padding: 56px 0 30px 0;
    max-width: 260px;
  }

  .login__title {
    margin: 50px 0 0 0;
  }

  .login__form {
    margin-top: 80px;
  }

  .login__submit {
    font-size: 14px;
  }

  .login__info {
    margin: 14px 0 0 0;
    font-size: 12px;
  }

  .login__link {
    margin-left: 7px;
    font-size: 12px;
  }
}
